<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Template</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-900 text-white">
    <header class="container mx-auto px-4 py-8 flex flex-col md:flex-row items-center justify-between">
        <div class="flex items-center gap-4 mb-4 md:mb-0">
            <div>
                <h1 class="text-3xl font-bold">{{profile.username}}</h1>
                <p class="text-gray-400">{{profile.portfolio.role}}</p>
            </div>
        </div>
        <div class="flex gap-4">
            {% if profile.portfolio.social_links %}
                {% for link in profile.portfolio.social_links %}
                    {% if link.link_type == 'GitHub' %}
                        <a target="_blank" href="{{link.link_value}}" class="text-gray-400 hover:text-purple-500 transition-colors" aria-label="GitHub">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.3-.87 2.23a4 4 0 0 1-1.13 1.27V22"></path></svg>
                        </a>
                    {% endif %}
                    {% if link.link_type == 'Linkedin' %}
                        <a target="_blank" href="{{link.link_value}}" class="text-gray-400 hover:text-purple-500 transition-colors" aria-label="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect width="4" height="12" x="2" y="9"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                        </a>
                    {% endif %}
                    {% if link.link_type == 'Facebook' %}
                        <a target="_blank" href={{link.link_value}} class="text-gray-400 hover:text-purple-500 transition-colors" aria-label="Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No Social Media yet</p>
            {% endif %}
        </div>
        {% if profile.portfolio.resume%}
            <a target="_blank" download href="{{url_for('static', filename='docs/' + profile.portfolio.resume )}}" class="mt-4 md:mt-0">
                <button class="bg-transparent hover:bg-purple-500 text-purple-400 hover:text-white border border-purple-500/50 px-6 py-2 rounded-md transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file mr-2"><path d="M6 2v7a3 3 0 0 0 3 3h9v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2z"></path><path d="M14 2v7h7"></path></svg>
                    Resume
                </button>
            </a>
        {% endif %}
    </header>

    <section class="container mx-auto px-4 py-12">
        <h2 class="text-4xl font-bold mb-8 text-center">About Me</h2>
        <div class="flex flex-col md:flex-row items-center gap-8">
            {% if profile.portfolio.profile_pic %}
                <img src="{{ url_for('static', filename='images/'+ profile.portfolio.profile_pic) }}" alt="Profile" class="w-full md:w-1/2 rounded-lg shadow-lg">
            {% else %}
                <img src="{{ url_for('static', filename='images/'+ 'default_usr.jpg') }}" alt="Profile" class="w-full md:w-1/2 rounded-lg shadow-lg">
            {% endif %}
            <div class="md:w-1/2 space-y-4">
                {% if profile.about_section.paragraph1 %}
                    <p class="text-gray-300">
                        {{profile.about_section.paragraph1}}
                    </p>
                {% endif %}
                {% if profile.about_section.paragraph2 %}
                    <p class="text-gray-300">
                        {{profile.about_section.paragraph2}}
                    </p>
                {% endif %}
                {% if profile.about_section.skills_intro %}
                    <p class="text-gray-300">
                        {{profile.about_section.skills_intro}}
                    </p>
                {% endif %}
                <div class="flex flex-wrap gap-2">
                    {% if profile.about_section.tools %}
                        {% for tool in profile.about_section.tools %}
                        <span class="bg-purple-500/20 text-purple-300 border border-purple-500/50 px-3 py-1 rounded-full text-sm">{{tool.name}}</span>
                        {% endfor %}
                    {% else %}
                        <p>Nothing About Me</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-800 py-12">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold mb-8 text-center">Projects</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                {% if profile.projects %}
                    {% for project in profile.projects %}
                    <div class="bg-gray-900 border border-gray-700 rounded-lg shadow-md hover:border-purple-500 transition-colors">
                        {% if project.image %}
                            <img src="{{ url_for('static', filename='images/'+ project.image) }}" alt={{project.name}} class="w-full h-48 object-cover rounded-t-lg">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/'+ 'default_picture.jpg') }}" alt={{project.name}} class="w-full h-48 object-cover rounded-t-lg">
                        {% endif %}
                        <div class="p-6">
                            <h3 class="text-2xl font-semibold mb-2">{{ project.name }}</h3>
                            <p class="text-gray-400 mb-4">
                                {{ project.description }}
                            </p>
                            <div class="flex flex-wrap gap-2">
                                {% if project.tools %}
                                    {% for tool in project.tools%}
                                        <span class="bg-purple-500/20 text-purple-300 border border-purple-500/50 px-3 py-1 rounded-full text-sm">{{ tool.name }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="bg-purple-500/20 text-purple-300 border border-purple-500/50 px-3 py-1 rounded-full text-sm">No Tools Added</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No Projects Yet</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="container mx-auto px-4 py-12">
        <h2 class="text-4xl font-bold mb-8 text-center">Services</h2>
        {% if profile.services_section.intro_text %}
            <p class="text-gray-300 text-center mb-8">{{ profile.services_section.intro_text }}</p>
        {% endif %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% if profile.services_section.services %}
                    {% for service in profile.services_section.services %}
                    <div class="bg-gray-900 border border-gray-700 rounded-lg shadow-md hover:border-purple-500 transition-colors">
                        {% if service.image %}
                            <img src="{{ url_for('static', filename='images/'+ service.image) }}" alt={{service.name}} class="w-full h-48 object-cover rounded-t-lg">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/'+ 'default_picture.jpg') }}" alt={{service.name}} class="w-full h-48 object-cover rounded-t-lg">
                        {% endif %}
                        <div class="p-6">
                            <h3 class="text-2xl font-semibold mb-2">{{ service.name }}</h3>
                            <p class="text-gray-400 mb-4">
                                {{ service.description }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No Projects Yet</p>
                {% endif %}
        </div>
    </section>

    <section class="bg-gray-800 py-12">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold mb-8 text-center">Experiences</h2>
            <div class="space-y-8">
                {% if profile.experiences %}
                    {% for experience in profile.experiences %}
                        <div class="flex flex-col md:flex-row gap-8">
                            <div class="md:w-1/4">
                                <h3 class="text-xl font-semibold">{{experience.organization}}</h3>
                                <p class="text-gray-400">{{experience.role}}</p>
                                <p class="text-gray-500">{{get_date_string(experience.start_date)}} - {% if experience.end_date %}
                                    {{get_date_string(experience.end_date)}}
                                    {% else %}
                                        Present
                                    {% endif %}
                                </p>
                            </div>
                            <div class="md:w-3/4 space-y-2">
                                {% if experience.bullet_points %}
                                    {% for bullet in experience.bullet_points %}
                                        <div class="flex items-start gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-briefcase text-purple-500 flex-shrink-0"><rect width="20" height="12" x="2" y="9" rx="2" ry="2"></rect><path d="M9 17v-4c0-1.333-.8-4-3-4"></path><path d="M15 17v-4c0-1.333.8-4 3-4"></path><path d="M8 2v3"></path><path d="M16 2v3"></path><path d="M9 17v-4c0-1.333-.8-4-3-4"></path><path d="M15 17v-4c0-1.333.8-4 3-4"></path></svg>
                                            <p class="text-gray-300">{{bullet.bullet_point}}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No Bullet Points yet</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <p>No Experience Yet</p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="container mx-auto px-4 py-12">
        <h2 class="text-4xl font-bold mb-8 text-center">Client Testimonials</h2>
        <p class="text-gray-300 text-center mb-8">Here are some reviews from my past clients</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {% if profile.client_testimonials %}
                {% for testimonial in profile.client_testimonials %}
                <div class="bg-gray-900 border border-gray-700 rounded-lg shadow-md">
                    {% if testimonial.image %}
                        <img src="{{ url_for('static', filename='images/'+ testimonial.image) }}" alt={{testimonial.name}} class="w-20 h-20 rounded-full mx-auto mt-4 border-4 border-purple-500">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/'+ 'default_usr.jpg') }}" alt={{testimonial.name}} class="w-20 h-20 rounded-full mx-auto mt-4 border-4 border-purple-500">
                    {% endif %}
                    <div class="p-6 text-center">
                        <h3 class="text-xl font-semibold">{{testimonial.name}}</h3>
                        <p class="text-gray-400 mb-2">{{testimonial.organization}}</p>
                        <p class="text-gray-300 italic">{{testimonial.testimonial}}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2>No Clients</h2>
            {% endif %}
        </div>
    </section>

    <section class="bg-gray-800 py-12">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold mb-8 text-center">Contact</h2>
            <p class="text-gray-300 text-center mb-8">
                {{profile.contact_section.intro_text}}
            </p>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div>
                    <h4 class="text-lg font-semibold flex items-center gap-2">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                        Location
                    </h4>
                    <p class="text-gray-300">{{profile.contact_section.location.city}}, {{profile.contact_section.location.state}}, {{profile.contact_section.location.country}}</p>
                </div>
                <div>
                    <h4 class="text-lg font-semibold flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22 6 12 13 2 6"></polyline></svg>
                        Email
                    </h4>
                    <p class="text-gray-300">{{profile.contact_section.contact_email}}</p>
                </div>
                <div>
                    <h4 class="text-lg font-semibold flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M7 11v2a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v2"></path><path d="M22 16v-2a4 4 0 0 0-4-4H8l-2 2v4a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4z"></path><path d="M12 18h.01"></path></svg>
                        Phone
                    </h4>
                    <p class="text-gray-300">{{profile.contact_section.phone_number}}</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-gray-900 py-6">
        <div class="container mx-auto px-4 text-center text-gray-400">
            &copy; 2025 Powered by Freelancr
        </div>
    </footer>
</body>
</html>
